/*
 *   drawer.scss
 *   solar-system-3js
 * 
 *   Created by Fatih Balsoy on 6/14/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

.drawer {
    width: 300px;
    padding: 10px;
    padding-top: 15px;
    flex-shrink: 0;
    box-sizing: border-box;
}