/*
 *   drawer.scss
 *   solar-system-3js
 * 
 *   Created by Fatih Balsoy on 6/14/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

@import 'stylesheets/mixins.scss';
@import 'stylesheets/variables.scss';

.drawer {
    width: 300px;
    padding: 10px;
    padding-top: 15px;
    flex-shrink: 0;
    box-sizing: border-box;

    // TODO: Scrollbar for drawer
    // @include scrollbar;
}