/*
 *   search.scss
 *   solar-system-3js
 * 
 *   Created by Fatih Balsoy on 5/3/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

$max-width: 600px;
$content-padding: 20px;
$scrollbar-width: 6px;
$search-margin: 10px;
$search-height: 44px;
$search-width: 400px;

.search {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.search-bar-self {
    height: $search-height;
}

// + .search-results
.search-bar {
    margin: $search-margin;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: $search-width;
    position: fixed;
    box-sizing: border-box;

    @media (max-width: $max-width) {
        width: unset;
        margin: $search-margin;
        right: 0;
        left: 0;
    }
}

.search-results {
    margin-top: calc($search-margin * 2 + $search-height) !important;
}

.search-bar-icon-button {
    padding: 10px
}

.info-card-body {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 98;
}

.info-card {
    align-items: center;
    width: 420px;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    align-items: start;

    // Full-width on mobile
    @media (max-width: $max-width) {
        width: unset;
        right: 0;
        left: 0;
    }

    &:before {
        content: "";
        height: calc($search-height + $search-margin * 2 + 10px);
        width: calc($search-width + $search-margin * 2);
        position: fixed;
        background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    // Scroll Behavior
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 6px;

    &:hover {
        padding-right: 0px;
        overflow-y: overlay;

        &::-webkit-scrollbar {
            height: $scrollbar-width;
            width: $scrollbar-width;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #7a7a7a;
        }

        &::-webkit-scrollbar-track {
            background-color: #2e2e2e;
        }
    }
}

.info-card-image {
    object-fit: cover;
    width: 420px;
    height: 250px;

    @media (max-width: $max-width) {
        width: 100%;
    }
}

.info-card-content {
    padding: 10px $content-padding;
}

.info-card-close-button {
    $close-btn-padding: 4px;
    position: absolute;
    right: calc($content-padding - $close-btn-padding);

    .info-card:hover>.info-card-content>& {
        right: calc($content-padding - $close-btn-padding - $scrollbar-width);
    }
}

.info-card-update-text {
    color: #7f7f7f !important;
}