/*
 *   search.css
 *   solar-system-3js
 * 
 *   Created by Fatih Balsoy on 5/3/23
 *   Copyright © 2023 Fatih Balsoy. All rights reserved.
 */

.search-bar {
    margin: 10px; 
    padding: 2px 4px; 
    display: flex; 
    align-items: center; 
    width: 400px;
    position: fixed;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .search-bar {
        width: 100%;
        margin: 0px
    }
}